.Circle {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  border: 3px solid;
  border-color: #469d89;
  margin-top: 25px;
  height: 60px;
  width: 60px;
  background-color: #dff6e7;
  border-radius: 50%;
}
