.inputArea {
  display: flex;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 5%;
}
.inputHeader {
  margin-left: 10px;
  font-family: Nunito;
  font-size: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #010228;
}
.inputBox:empty {
  height: 40px;
  background: #edfafd;
  border: 2px solid #0096c7;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgba(3, 102, 102, 0.25);
  border-radius: 5px;
}
.inputBox:focus {
  outline: none !important;
  height: 40px;
  background: #daf5fb;
  border: 2px solid #0096c7;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 2px rgba(0, 106, 163, 0.5),
    0px 10px 20px rgba(0, 106, 163, 0.25);
  border-radius: 5px;
}
.inputBox:not([value=""]) {
  height: 40px;
  background: #daf5fb;
  border: 2px solid #0096c7;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgba(3, 102, 102, 0.25);
  border-radius: 5px;
}
.inputBox::placeholder {
  padding-top: 1%;
  padding-left: 2%;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  color: #8bb0d0;
  line-height: 22px;
  display: flex;
  background: #edfafd;
}
.inputHelpText {
  margin-left: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: regular;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #010228;
}
input[type="text"],
input[type="number"],
input[type="datetime-local"],
input[type="password"] {
  padding: 10px 10px 8px 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #121f2b;
}
