.Card {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: #edfafd;
  border: 2px solid;
  border-color: #00b4d8;
  border-radius: 20px;
  margin-top: 10px;
  display: center;
  flex-direction: column;
  width: 68%;
  box-shadow: 0px 10px 20px rgba(92, 113, 124, 0.2);
  margin-bottom: 70px;
}
.Title {
  font-family: Nunito;
  font-weight: 700;
  padding: 8px;
  display: flex;
  justify-content: center;
  color: #010228;
  border-bottom: 2px solid #00b4d8;
  font-size: 26px;
}
.Content {
  flex-grow: 1;
  background-color: #edfafd;
  padding: 20px;
  flex-direction: column;
  margin-bottom: 1%;
}
.InfoText {
  font-family: Nunito;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 1%;
}
