.gilberto {
  margin-top: 75px;
  align-items: center;
  text-align: -webkit-center;
}
.paragrafo {
  /* padding: 0 6.9vw 16.4vh 6.9vw; */
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #010228;
}
