.gilberto {
  margin-top: 75px;
  align-items: center;
  text-align: -webkit-center;
}
.paragrafo {
  /* padding: 0 6.9vw 16.4vh 6.9vw; */
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #010228;
}
.ColTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Cerulean Crayola/900 */

  color: #010228;
  margin-top: -3%;
}
.ColSubTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;
  color: #006aa3;
  margin-bottom: -1.5%;
}
