.BigButtonCard {
  width: 220px;
  height: 220px;
  background: #edfafd;
  border: 2px solid #00b4d8;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgba(3, 102, 102, 0.25);
  border-radius: 10px;
}
.BigButtonTitle {
  font-family: Nunito;
  font-weight: 700;
  padding: 7px;
  display: flex;
  justify-content: center;
  color: #010228;
  border-bottom: 2px solid #00b4d8;
  font-size: 18px;
}
.BigButtonContent {
  flex-grow: 1;
  margin-top: 10%;
  text-align: center;
  background-color: #edfafd;
  flex-direction: column;
  margin-bottom: 1%;
}
